.container{
    height: 50px;
    width:100%;
    background-color: rgb(255, 255, 255);
    display: flex;justify-content: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
}
#box{
    height: 100vh;
    flex-direction: column;
}
.dots{
    height: 40px;
    /* background-color: aliceblue; */
    width: 40px;
    border-radius: 100px;
    box-shadow: 0 0 19px black;
    margin: 0 5px;
}
#blr{
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    position: relative;
    animation:whit 1s infinite;
}
#red{
    background-color: red;
    animation:re 1s infinite;
    position: relative;
}

#green{
    position: relative;
    background-color: green;
    animation:gree 1s infinite;
    
}

#blue{
background-color: blue;
position: relative;
animation:blu 1s infinite;

}
#load{
    font-size: 1.8rem;
    color: black;
}
@keyframes whit{
    0%{
        
        top: 0;
    }
    20%{
    top: -8px;
}
40%{
    top: 0;
}

60%{
    top: 0;
}
80%{
    top: 0;
}
100%{
    top: 0;
}



}
@keyframes re{
    0%{
        
        top: 0;
    }
    20%{
    top: 0;
}

40%{
    top: -8px;

}
60%{
    top: 0;
}
80%{
    top: 0;
}
100%{
    top: 0;
}

}
@keyframes gree{
    0%{
        
        top: 0;
    }
    20%{
    top: 0;
}
40%{
    top: 0;
}

60%{
    top: -8px;

}
80%{
    top: 0;
}
100%{
    top: 0;
}

}
@keyframes blu{
    0%{
        
        top: 0;
    }
    20%{
    top: 0;
}
40%{
    top: 0;
}

60%{
    top: 0;
}
80%{
    top: -8px;

}
100%{
    top: 0;
}

}